.card {
  background-color: white;
  padding: 21px;
  border-radius: 14px;
  min-height: 250px;
  cursor: pointer;
  color: #443133;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  font-size: 20px;
  font-weight: 700;
}

.body {
  margin-top: 21px;
}

.body img {
  width: 162px;
  height: 126px;
  object-fit: cover;
  float: left;
  margin-right: 21px;
  margin-bottom: 21px;
  border-radius: 14px;
}

.text {
  float: left;
}

.ingredients {
  margin-top: 21px;
}
.item {
  margin-top: 7px;
  margin-right: 7px;
  display: inline-block;
  background-color: rgb(237, 237, 237);
  padding: 7px 14px;
  border-radius: 14px;
}
