input.customInput {
  width: 100%;
  font-size: 20px;
  padding: 14px 21px;
  background-color: white;
  border-radius: 14px;
}
textarea.customTextarea {
  width: 100%;
  font-size: 20px;
  padding: 14px 21px;
  background-color: white;
  border-radius: 14px;
  resize: vertical;
}

label.customLabel {
  font-size: 20px;
  margin-left: 7px;
}

select.customSelect {
  width: 100%;
  font-size: 20px;
  padding: 14px;
  background-color: white;
  border-radius: 14px;
}

button.customButton {
  width: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 21px;
  background-color: #443133;
  color: white;
  border-radius: 14px;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  margin-top: 14px;
}

.ingredientsList {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}
.ingredientItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.stepsList {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.stepsItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.delete {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
}

.delete::before,
.delete::after {
  content: "";
  position: absolute;
  display: block;
  width: 21px;
  height: 1px;
  background-color: #443133;
  top: 50%;
  transform: translate(-50%, -50%);
}

.delete::after {
  transform: rotate(45deg);
}
.delete::before {
  transform: rotate(-45deg);
}
