input.customInput {
  width: 100%;
  padding: 14px 14px;
  background-color: white;
  border-radius: 14px;
  font-size: 24px;
}

select.customSelect {
  width: 100%;
  padding: 14px 14px;
  background-color: white;
  border-radius: 14px;
  font-size: 24px;
}

button.customButton {
  width: 100%;
  padding: 14px 14px;
  background-color: #443133;
  color: white;
  border-radius: 14px;
  font-size: 24px;
  font-weight: 700;
}

textarea.customTextarea {
  width: 100%;
  padding: 14px 14px;
  background-color: white;
  border-radius: 14px;
  font-size: 24px;
  resize: vertical;
}

label.customLabel {
  font-size: 24px;
}

.formItem {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
